* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: sans-serif;
    color: #1a2b4a;
    line-height: 1.7;
}




.inicio {
    background: #85A7A1;
    color: #000000aa;
    padding: 60px;
    text-align: center;

}


.content {
    margin: 0 auto;
}

h2 {
    font-size: 2px;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
    /* aumenta base */

}

/* Padding responsivo para descripción */
.pdescripcion-responsive {
    padding-left: 0;
}

@media (min-width: 768px) {
    .pdescripcion-responsive {
        padding-left: 100px;
    }
}

/* Padding responsivo para items */
.pitem-responsive {
    padding-left: 0;
}

@media (min-width: 768px) {
    .pitem-responsive {
        padding-left: 200px;
    }
}


/* Logo */
.logo-hero {
    width: 400px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

/* Contenedor de Imágenes Responsivas */
.image-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Interés */
.interest-section {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
}


.btn-interest {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #363F4A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-interest:hover {
    background: #1f6375;
}

/* Footer */
footer {
    background: #85A7A1;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

footer p {
    text-align: center;
}